{% extends 'project-compoments/base.html' %}
{% block content %}
{% include 'project-compoments/header.html' %}
{% load static %}
<style>
    .woocommerce button.button, .woocommerce input.button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 0.618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #515151;
    background-color: #d80650;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}
</style>

    	<!-- Start Page Title Area -->
		<div class="page-title-area page-title-bg1" style="background-image:url();">
			<div class="container">
				<div class="page-title-content">
					<h2>My account</h2>

												<ul>
								<li><a href="https://themes.envytheme.com/vaximo/">Home</a></li>
								<li class="active">My account</li>
							</ul>				</div>
			</div>
		</div>
	<!-- End Page Title Area -->

	<div class="page-main-content">		<div class="page-area ">
			<div class="container">
<article id="post-11" class="post-11 page type-page status-publish hentry">
	<div class="entry-content">
		<div class="woocommerce"><div class="woocommerce-notices-wrapper"></div>

            <h3 class="title">Register</h3>



            <form class="woocommerce-form woocommerce-form-login login" onsubmit="yourJsFunction();return false" id="my-form" action = "#" method = "POST">
                {{form.errors}}
                {% csrf_token %}
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="username">Username<span class="required">*</span></label>
                    {{form.username}}
                    {{form.username.help_text}}
                </p>
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="username">Email Address<span class="required">*</span></label>
                    {{form.email}}
                </p>
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="password">Password<span class="required">*</span></label>
                    {{form.password1}}
                </p>
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="password">Confirm Password&nbsp;<span class="required">*</span></label>
                    {{form.password2}}
                </p>
                <p class="form-row">
                    <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="c7d75075ba" /><input type="hidden" name="_wp_http_referer" value="/vaximo/my-account/" />
                    <button type="submit" class="woocommerce-button button woocommerce-form-login__submit btn btn-primary order-btn" name="login" value="Log in">Register</button>
                </p>
                <p class="woocommerce-LostPassword lost_password">
                    <a href="{% url 'login' %}">Already have account?</a>
                </p>


            </form>


</div>
	</div><!-- .entry-content -->

	</article><!-- #post-11 -->
											</div>		</div>
	</div>
{% include 'project-compoments/footer.html' %}
{% endblock %}
