{% block header %}
{% load static %}
<header class="header-area   ">
                     <div class="top-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-8">
                            <ul class="header-content-left">
                                                                    <li>
                                        <a href="/cdn-cgi/l/email-protection#254d4049494a6553445d4c484a0b464a48">
                                            <i class='bx bx-envelope'></i>
                                             Email: <span class="__cf_email__" data-cfemail="48202d242427083e2930212527662b2725">[email&#160;protected]</span>                                        </a>
                                    </li>
                                                                                                    <li>
                                        <i class='bx bx-location-plus'></i>Mohali Punjab Sector 74, Phase 5</li>

                                                                    <li>
                                        <a href="tel:+892-569-756">
                                            <i class='bx bx-phone-call'></i>
                                            +91 8894545979                                       </a>
                                    </li>
                                                            </ul>
                        </div>

                        <div class="col-lg-6 col-sm-4">
                                                            <ul class="header-content-right">
                                                                <li>
                    <a target="_blank" href="#" class="twitter" > <i class="bx bxl-twitter"></i></a>
                </li>


                            <li>
                    <a target="_blank" href="#" class="facebook"> <i class="bx bxl-facebook"></i></a>
                </li>

                            <li>
                    <a target="_blank" href="#" class="instagram"> <i class="bx bxl-instagram"></i></a>
                </li>

                        <li>
                <a target="_blank" href="#" > <i class="bx bxl-linkedin"></i></a>
            </li>






                                                </ul>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Start Navbar Area -->
        <div class="nav-area">
            <div class="navbar-area">
                <div class="mobile-nav">
                    <a href="#" class="logo">
                        <img src="{% static 'img/gif1.gif' %}">

                                            </a>
                </div>

                <div class="main-nav">
                    <nav class="navbar navbar-expand-md">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                                                                    <img src="{% static 'img/gif1.gif' %}">
                                                            </a>

                            <div class="collapse navbar-collapse mean-menu">
                                <ul id="menu-header-menu" class="navbar-nav m-auto"><li id="menu-item-490" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-490 nav-item"><a title="Home" href="#" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" id="menu-item-dropdown-490">Home <i class='bx bx-chevron-down'></i></a>
<ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-490" role="menu">
	<li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-31 nav-item"><a title="Cyber Security Company" href="#" class="dropdown-item">Cyber Security Company</a></li>
	<li id="menu-item-491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-491 nav-item"><a title="Internet Security Agency" href="#" class="dropdown-item">Internet Security Agency</a></li>
	<li id="menu-item-584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-584 nav-item"><a title="Website Security Agency" href="#" class="dropdown-item">Website Security Agency</a></li>
	<li id="menu-item-632" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-632 nav-item"><a title="Data Security Company" href="#" class="dropdown-item">Data Security Company</a></li>
	<li id="menu-item-665" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-665 nav-item"><a title="IT Security Company" href="#" class="dropdown-item">IT Security Company</a></li>
	<li id="menu-item-705" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-705 nav-item"><a title="Information Security Agency" href="#" class="dropdown-item">Information Security Agency</a></li>
	<li id="menu-item-1084" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1084 nav-item"><a title="Hacking Security Agency" href="#" class="dropdown-item">Hacking Security Agency</a></li>
	<li id="menu-item-1426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1426 nav-item"><a title="Dark Web Security Company" href="#" class="dropdown-item">Dark Web Security Company</a></li>
	<li id="menu-item-1511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1511 nav-item"><a title="Blockchain Security Agency" href="#" class="dropdown-item">Blockchain Security Agency</a></li>
</ul>
</li>
<li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29 nav-item"><a title="About" href="https://themes.envytheme.com/vaximo/about/" class="nav-link">About</a></li>
<li id="menu-item-170" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-170 nav-item"><a title="Pages" href="#" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" class="#" id="menu-item-dropdown-170">Pages  <i class='bx bx-chevron-down'></i></a>
<ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-170" role="menu">
	<li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151 nav-item"><a title="Pricing" href="#" class="dropdown-item">Pricing</a></li>
	<li id="menu-item-169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169 nav-item"><a title="Testimonials" href="#" class="dropdown-item">Testimonials</a></li>
	<li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174 nav-item"><a title="Team" href="#" class="dropdown-item">Team</a></li>
	<li id="menu-item-221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221 nav-item"><a title="Coming Soon" href="#" class="dropdown-item">Coming Soon</a></li>
	<li id="menu-item-201" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-201 nav-item"><a title="FAQ" href="#" class="dropdown-item">FAQ</a></li>
</ul>
</li>
<li id="menu-item-315" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-315 nav-item"><a title="Services" href="#" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" class="" id="menu-item-dropdown-315">Services  <i class='bx bx-chevron-down'></i></a>
<ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-315" role="menu">
	<li id="menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317 nav-item"><a title="Services Style One" href="#" class="dropdown-item">Services Style One</a></li>
	<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316 nav-item"><a title="Services Style Two" href="#" class="dropdown-item">Services Style Two</a></li>
	<li id="menu-item-328" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-328 nav-item"><a title="Services Style Three" href="#" class="dropdown-item">Services Style Three</a></li>
	<li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-318 nav-item"><a title="Service Details" href="#" class="dropdown-item">Service Details</a></li>
</ul>
</li>
<li id="menu-item-1016" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children dropdown active menu-item-1016 nav-item"><a title="Shop" href="#" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" class="" id="menu-item-dropdown-1016">Shop  <i class='bx bx-chevron-down'></i></a>
<ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-1016" role="menu">
	<li id="menu-item-1020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1020 nav-item"><a title="Shop" href="{% url 'shop' %}" class="dropdown-item">Shop</a></li>
	<li id="menu-item-1021" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-1021 nav-item"><a title="Single Product" href="#" class="dropdown-item">Single Product</a></li>
	<li id="menu-item-1019" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-11 current_page_item active menu-item-1019 nav-item"><a title="My account" href="https://themes.envytheme.com/vaximo/my-account/" class="dropdown-item">My account</a></li>
	<li id="menu-item-1017" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1017 nav-item"><a title="Cart" href="#" class="dropdown-item">Cart</a></li>
	<li id="menu-item-1018" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1018 nav-item"><a title="Checkout" href="#" class="dropdown-item">Checkout</a></li>
</ul>
</li>
<li id="menu-item-365" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-365 nav-item"><a title="Blog" href="{% url 'blog' %}" data-hover="dropdown" aria-haspopup="true" aria-expanded="false" class="" id="menu-item-dropdown-365">Blog </a>
</li>
<li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30 nav-item"><a title="Contact Us" href="{% url 'contact' %}" class="nav-link">Contact Us</a></li>
</ul>
                                <!-- Start Other Option -->
                                <div class="others-option">
                                                                                <a class="cart-btn" href="{% url 'cart' %}">
                                                <i class='bx bx-shopping-bag'></i>
                                                <span class="mini-cart-count">{{cart_length}}</span>
                                            </a>
                                    {% if user.is_authenticated %}
                                    <div class="get-quote">
                                        <a href="#" class="default-btn">{{user.username}}</a>
                                        {% else %}
                                            <a href="{% url 'login' %}" class="default-btn">Login</a>
                                        </div>
                                    {% endif %}
                                                                    </div>
                                <!-- End Other Option -->
                            </div>
                        </div>
                    </nav>
                </div>

            </div>
        </div>
        <!-- End Navbar Area -->
    </header>

{% endblock %}