{% extends 'project-compoments/base.html' %}
{% block content %}
{% include 'project-compoments/header.html' %}
{% load static %}
    	<!-- Start Page Title Area -->
		<div class="page-title-area page-title-bg1" style="background-image:url();">
			<div class="container">
				<div class="page-title-content">
					<h2>Contact Us</h2>

												<ul>
								<li><a href="https://themes.envytheme.com/vaximo/">Home</a></li>
								<li class="active">Contact Us</li>
							</ul>				</div>
			</div>
		</div>
	<!-- End Page Title Area -->

			<div class="page-area ">
																						
<article id="post-465" class="post-465 page type-page status-publish hentry">
	<div class="entry-content">
				<div data-elementor-type="wp-page" data-elementor-id="465" class="elementor elementor-465">
									<div class="elementor-section elementor-top-section elementor-element elementor-element-6d54972 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="6d54972" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-054e30a" data-id="054e30a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-6730121 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="6730121" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-32d51ea" data-id="32d51ea" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-79112ac elementor-widget elementor-widget-Vaximo_Contact_CTA" data-id="79112ac" data-element_type="widget" data-widget_type="Vaximo_Contact_CTA.default">
				<div class="elementor-widget-container">
						<div class="single-contact-info text-center">
				<i class="bx bx-location-plus"></i>
				<h3>New York</h3>
				<p class="p">88 Flower Avenue. Kingdom St. New York</p>
<a href="/cdn-cgi/l/email-protection#4c24292020230c3a2d34252123">Email: <span class="__cf_email__" data-cfemail="3058555c5c5f70465148595d5f1e535f5d">[email&#160;protected]</span></a>
<a href="tel:+822456974">+822456974</a>			</div>
        		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d5b5e66" data-id="d5b5e66" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-88ee989 elementor-widget elementor-widget-google_maps" data-id="88ee989" data-element_type="widget" data-widget_type="google_maps.default">
				<div class="elementor-widget-container">
					<div class="elementor-custom-embed">
			<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
					src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&#038;t=m&#038;z=10&#038;output=embed&#038;iwloc=near"
					title="London Eye, London, United Kingdom"
					aria-label="London Eye, London, United Kingdom"></iframe>
<!--						&#038;t=m&#038;z=10&#038;output=embed&#038;iwloc=near-->
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-ec9c597" data-id="ec9c597" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-6910d9f elementor-widget elementor-widget-Vaximo_Contact_CTA" data-id="6910d9f" data-element_type="widget" data-widget_type="Vaximo_Contact_CTA.default">
				<div class="elementor-widget-container">
						<div class="single-contact-info text-center">
				<i class="bx bx-location-plus"></i>
				<h3>New York</h3>
				<p class="p">658 Lane Drive st Riverside. California</p>
<a href="/cdn-cgi/l/email-protection#d1b8bfb7be91a7b0a9b8bcbe">Email: <span class="__cf_email__" data-cfemail="dcb5b2bab39caabda4b5b1b3f2bfb3b1">[email&#160;protected]</span></a>
<a href="tel:+892569756">+892569756</a>			</div>
        		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-bf4cd79" data-id="bf4cd79" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e204132 elementor-widget elementor-widget-google_maps" data-id="e204132" data-element_type="widget" data-widget_type="google_maps.default">
				<div class="elementor-widget-container">
					<div class="elementor-custom-embed">
			<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
					src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&#038;t=m&#038;z=10&#038;output=embed&#038;iwloc=near"
					title="London Eye, London, United Kingdom"
					aria-label="London Eye, London, United Kingdom"></iframe>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</div>
				<div class="elementor-section elementor-top-section elementor-element elementor-element-1c71295 faq-contact-area ptb-100 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1c71295" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-953cd37" data-id="953cd37" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-0ab3ed0 elementor-widget elementor-widget-Section" data-id="0ab3ed0" data-element_type="widget" data-widget_type="Section.default">
				<div class="elementor-widget-container">
			
                    <div class="container">
                <div class="section-title text-center">
                                            <span class="top-title">Contact Us</span>
                    
                    <h2>Drop Us A Message For Any Query</h2>

                    <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, libero harum cum numquam repellendus autem recusandae voluptatem, asperiores iusto magni reprehenderit.</p>                </div>
            </div>
                		</div>
				</div>
				<div class="elementor-element elementor-element-85da983 elementor-widget elementor-widget-shortcode" data-id="85da983" data-element_type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
					<div class="elementor-shortcode"><div role="form" class="wpcf7" id="wpcf7-f208-p465-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="208" />
<input type="hidden" name="_wpcf7_version" value="5.6.4" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f208-p465-o1" />
<input type="hidden" name="_wpcf7_container_post" value="465" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<div class="container">

<div id="contactForm">


		<form method="POST" >
			{% csrf_token %}


    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <div class="form-group">

					{{form.name}}
<!--					<input type="text" name="uname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your Name" />-->

            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="form-group">

					{{form.email}}
<!--					<input type="email" name="uemail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Your Email" />-->

            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="form-group">


					{{form.contact}}
<!--					<input type="number" name="unumber" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number form-control" aria-required="true" aria-invalid="false" placeholder="Your Number" />-->

            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="form-group">

					{{form.subject}}
<!--					<input type="text" name="usubject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your Subject" />-->

            </div>
        </div>

        <div class="col-lg-12 col-md-12">
            <div class="form-group">

					{{form.message}}
<!--					<textarea name="your-message" cols="40" rows="8" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Your Message"></textarea>-->

            </div>
        </div>

         <div class="col-lg-12 col-md-12">
            <span class="wpcf7-form-control-wrap" data-name="gdpr"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><label>{{form.policy}}<span class="wpcf7-list-item-label"><a href="https://themes.envytheme.com/vaximo/terms-condition">Terms</a> and <a href="https://themes.envytheme.com/vaximo/privacy-policy">Privacy policy</a>.</span></label></span></span></span>
        </div>

        <div class="col-lg-12 col-md-12">
            <button type="submit" class="default-btn page-btn">
                Send Message
            </button>
        </div>
	</div>
		</form>

	 {% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="wpcf7-response-output"  style="color:red" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
    {% endfor %}
</div>
{% endif %}

</div>
</div><div class="wpcf7-response-output" aria-hidden="true"></div></div></div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</div>
							</div>
			</div><!-- .entry-content -->

	</article><!-- #post-465 -->
													</div>
	
{% include 'project-compoments/footer.html' %}
{% endblock %}